.custom-container {
    padding-top: 10px;
    padding-right: 0px;
}

.custom-row {
    margin-left: 0px;
    margin-right: 0px;
}

#news-container {
    overflow-y: auto;
}

#sendeplan-container {
    overflow-y: auto;
}

.refresh-icon {
    -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.audio-controls {
    height: 30px;
}

.progress {
    height: 30px;
}

#now-playing {
    overflow: auto;
    max-height: 20px;
    height: 20px;
}

.half-wrapper {
    width: 50%;
    max-width: 50%;
}